body {
  background-color: #F3E6D8;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;

}
main >* {
  border: 4px solid #8A5A3C;
  }
header {
  border: 7px dashed #8A5A3C;
  background-color: #F7D3A8;
}
header h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.thumb {
  border: 7px dashed #8A5A3C;
  width: 349px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 6px;
}
div.coluna {
  background-color: #F7D3A8;
  text-align: center;
}
div.coluna {
  background-color: #F7D3A8;
  width: 605px;
}

aside {
  text-align:center;
  background-color: #F7D3A8;
  width: 500px;
  }
.imagens {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease, opacity 300ms ease;
  transform-origin: center center;
  display: block;
}
.thumb {
  width: 349px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 6px;
}

.imagens {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease, opacity 300ms ease;
  transform-origin: center center;
  display: block;
}
.base {
  z-index: 1;
  opacity: 1;
}

.hover {
  z-index: 2;
  opacity: 0;
  transform: scale(1); 
  pointer-events: none;/
}
.thumb:hover .hover,
.thumb:focus-within .hover {
  opacity: 1;
  transform: scale(1.12);
}
.thumb:hover .base,
.thumb:focus-within .base {
  transform: scale(1.06);
  opacity: 0;
}
p {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
p {
  font-weight: 600;
}
p.bold {
  font-weight: 1000;
}
.subtitulo {
  font-size: 166%;
  text-shadow: 1.5px 0 0 currentColor, 1.5px 0 0 currentColor;
}
.redirect-link {
  color: #8A5A3C;
}
.subtitulo {
  text-decoration: underline;
}
.galeria img {
 width: 100%;
 height: 100%;
 object-fit: fill;
}
div.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px
}
footer {
  border: 7px dashed #8A5A3C;
  height: 60px;
  line-height: 60px;
  background-color: #F7D3A8;
  text-align: center;
}